name: Build LaTeX document

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          post_compile: |
            mv 'main.pdf' 'Mohan Dong Resume.pdf'

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: Resume
          path: Mohan Dong Resume.pdf

      - name: Publish release
        run: |
          gh release delete latest --cleanup-tag --yes
          gh release create latest "Mohan Dong Resume.pdf" --title "Resume" --notes "Built on $(date)"
        env:
          GH_TOKEN: ${{ github.token }}
